[submodule "stesi/ftp_connector"]
	path = stesi/ftp_connector
	url = git@github.com:stesi/ftp_connector.git
	branch = 14.0

[submodule "stesi/techbsa_improvements"]
	path = stesi/techbsa_improvements
	url = git@github.com:stesi/techbsa_improvements.git
	branch = 14.0

[submodule "OCA/project"]
	path = OCA/project
	url = git@github.com:OCA/project.git
	branch = 14.0

[submodule "stesi/stesi_mrp"]
	path = stesi/stesi_mrp
	url = git@github.com:stesi/stesi_mrp.git
	branch = 14.0

[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 14.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 14.0

[submodule "ingegniamo/techsba_product_config_custom"]
	path = ingegniamo/techsba_product_config_custom
	url = git@github.com:ingegniamo/techsba_product_config_custom.git
	branch = 14.0

[submodule "OCA/product-configurator"]
	path = OCA/product-configurator
	url = git@github.com:OCA/product-configurator.git
	branch = 14.0

[submodule "stesi/l10n-italy"]
	path = stesi/l10n-italy
	url = git@github.com:stesi/l10n-italy.git
	branch = 14.0
