[submodule "stesi/ftp_connector"]
	path = stesi/ftp_connector
	url = git@github.com:stesi/ftp_connector.git
	branch = 14.0

[submodule "stesi/techbsa_improvements"]
	path = stesi/techbsa_improvements
	url = git@github.com:stesi/techbsa_improvements.git
	branch = 14.0

[submodule "OCA/project"]
	path = OCA/project
	url = git@github.com:OCA/project.git
	branch = 14.0
